body {
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(to left, rgb(225, 76, 113), rgb(59, 1, 106));;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}